.features__list {
  display: flex;
  column-gap: 30px;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background: var(--feature-bg-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
