.hero {
  margin: 0 auto;
  text-align: center;
  background-color: var(--hero-bg-color);
}

.hero__wrapper {
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      var(--hero-overlay-color),
      var(--hero-overlay-color)
    ),
    url(../images/main/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-theme-color);
}
