.our-work {
  padding-top: 0;
}

.work-list {
  display: flex;
  column-gap: 30px;
}

.work-list-line {
  flex-basis: 380px;
}

.work-list-wrap {
  position: relative;
}

.our-wor-topic {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-theme-color);
  background: var(--our-work-overlay-bg);
}
