@media screen and(max-width:767px) {
  .clients__list {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.clients__list-item {
  flex-basis: calc((100% - 30px) / 2);
}

.clients__link {
  border: 1px solid var(--social-list-icon-fill);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  color: var(--social-list-icon-fill);
  fill: currentColor;
  transition: border var(--animation-duration) var(--animation-timing-function),
    color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__logo-icon {
  width: 106px;
  height: 60px;
}

@media screen and(min-width:768px) {
  .clients__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .clients__list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients__link {
    width: 226px;
  }
}

@media screen and(min-width:1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__link {
    width: 170px;
  }
}
