@media screen and(max-width:767px) {
  .filter-list {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .filter-list__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;

    min-width: 63px;

    background-color: var(--filter-button-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;

    border: 0;
    border-radius: 4px;

    transition: color var(--animation-duration) var(--animation-timing-function),
      background-color var(--animation-duration)
        var(--animation-timing-function),
      box-shadow var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--main-theme-color);

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .project-list__link {
    display: inline-block;
    transition: box-shadow var(--animation-duration)
      var(--animation-timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .project-list__overlay {
    position: relative;
    overflow: hidden;
  }

  .project-list__overlay-text {
    position: absolute;

    top: 0;
    left: 0;

    padding: 77px 24px;

    width: 100%;
    height: 100%;

    text-align: left;
    font-size: 18px;
    line-height: 1.55;
    background-color: var(--portfolio-overlay-color);
    color: var(--main-theme-color);

    transform: translateY(101%);

    transition: transform var(--animation-duration)
      var(--animation-timing-function);

    .project-list__link:hover &,
    .project-list__link:focus & {
      transform: translateY(0%);
    }
  }
  .project-list__wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  .project-list__project-name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }

  .project-list__project-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
  }
}

@media screen and(min-width:768px) {
  .filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .filter-list__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;

    min-width: 63px;

    background-color: var(--filter-button-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;

    border: 0;
    border-radius: 4px;

    transition: color var(--animation-duration) var(--animation-timing-function),
      background-color var(--animation-duration)
        var(--animation-timing-function),
      box-shadow var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--main-theme-color);

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .project-list__link {
    display: inline-block;
    transition: box-shadow var(--animation-duration)
      var(--animation-timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  .project-list__overlay {
    position: relative;
    overflow: hidden;
  }

  .project-list__overlay-text {
    position: absolute;

    top: 0;
    left: 0;

    padding: 63px 24px;

    width: 100%;
    height: 100%;

    text-align: left;
    font-size: 18px;
    line-height: 1.55;
    background-color: var(--portfolio-overlay-color);
    color: var(--main-theme-color);

    transform: translateY(101%);

    transition: transform var(--animation-duration)
      var(--animation-timing-function);

    .project-list__link:hover &,
    .project-list__link:focus & {
      transform: translateY(0%);
    }
  }

  .portfolio-list-item:first-child .project-list__wrapper {
    padding-bottom: 56px;
  }

  .item {
    max-width: 440px;
  }
  .project-list__wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);

    max-height: 354px;
  }

  .project-list__project-name {
    max-width: 304px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }

  .project-list__project-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
  }
}

@media screen and(min-width:1200px) {
  .item {
    max-width: 370px;
  }

  .portfolio-list-item:first-child .project-list__wrapper {
    padding-bottom: 20px;
  }

  .project-list__project-name {
    max-width: 322px;
  }
}
