.menu-button {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}
.menu-button__svg {
  width: 40px;
  height: 40px;
  color: var(--main-text-color);
}
.menu-button__icon {
  fill: currentColor;
}
