.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  color: var(--logo-header-color);
  fill: currentColor;

  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-close-icon {
  width: 18px;
  height: 18px;
}
