h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  background-color: var(--main-theme-color);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.title-hide {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and(max-width:767px) {
  .section-title {
    margin-bottom: 30px;

    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1786;
  }
}

@media screen and(min-width:768px) {
  .section-title {
    margin-bottom: 30px;

    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1786;
  }
}
@media screen and(min-width:1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
